<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header"></div>
			<p class="text-header"> <a href="https://medium.com/ieeecisunb" target="_blank">
		            <img
		            src="https://miro.medium.com/max/60/1*1d689LvN2_BUOltefbiIvw.png"
		            height="60"
		            width="60">
		        </a> Classificador de mensagens com conteúdo depressivo </p>
		<div class="nav"></div>
		<div class="container">
			<div class="left">
				<p class="text"> Coloque a mensagem abaixo e clique em analisar para avaliar se ela possui conteúdo depressivo.</p>
				<textarea id="content-upload" class="textarea" cols="50" rows="15" placeholder='Your text'></textarea>
				<div class='analyze'>
					<button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analisar</button>
					
				</div>
			</div>
			<div class="right">
				<p class="text">A mensagem possui conteúdo..</p>
				<div class='result-label'>
			            <label id='result-label'>&#63;</label>
			        </div>
				<p class="text"> com a seguinte probabilidade:</p>
				<div id="container" style='width: 50%; height: 50%'></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer">
			<p class="text-call"> Esta ferramenta não deve, sob nenhuma hipótese, substituir o diagnóstico de um especialista. A depressão é uma doença séria e deve ser tratada como tal. Existem profissionais treinados que sempre podem ajudar. Caso queira falar com um deles, por favor, disque 188 para entrar em contato com o <a href="https://www.cvv.org.br/"> Centro de Valorização à vida </a> e procure ajuda médica.</p>
		</div>
	</div>
</div>
</body>
</html>
