@font-face{
    font-family: "Roboto";
    src: url("Roboto-MediumItalic.ttf");
  }

*{
	margin:0;
}
.wrap{
	width:1200px;             
	margin:auto;
	background:#fff;
}
.header{
	height:50px;
	background:#1DA1F2;
}
.nav{
	height:50px;
	background:#1DA1F2;
}

#container {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.text-header{
    color: #000;
    font-family: 'Roboto';
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-family: 'Roboto';
}


.left{
	width:50%;
	height:800px;
	float:left;
	background:#ddd;
	font-size: 25px;
}
.right{
	width:50%;
	height:800px;
	float:left;
	font-size: 25px;
}
.clear{
	clear:both;
	height: 50px;
	background: #1DA1F2;
}

.footer{
	height:80px;
	background:#ddd;
}

.analyze-button {
	margin: 20px;
    width: 200px;
    height: 60px;
    border: solid 1px #1DA1F2;
    border-radius: 6px;
    background-color: transparent;
    font-size: 13px;
    cursor: pointer;
    color: #1DA1F2;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    position: absolute;
    margin-left: 75px;*/
    font-size: 25px;
}

.analyze-button:hover {
    border: solid 1px #1DA1F2;
    background-color: #1DA1F2;
    color: #fff;
    transition: all 0.3s;
}

.text {
    color: #310a5d;
    font-family: 'Roboto';
    margin: 50px;
    text-align: center;
    font-size: 22px;
}

.text-call {
	color: #000000;
    font-family: 'Roboto';
    margin: 50px;
    text-align: center;
    font-size: 18px;
}

.result-label {
    margin: 50px;
    text-align: center;
    font-size: 100px;
}
/*.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 20px;
    padding-bottom: 100px;
        background:#FFF;
}*/
